# Ignore Gradle project-specific cache directory
.gradle

# IDEA
*.iml
.idea

# Mac
.DS_Store

# Ignore Gradle build output directory
build
out
target

# iOS/macOS
*.podspec

local.properties

# Vaadin
node_modules
webpack.*.js
package*.json
